In [1]:
import opensimula as oms

sim = oms.Simulation()
p1 = oms.Project(sim)
p1.parameter["name"].value = "Project 1"
p2 = oms.Project(sim)
p2.parameter["name"].value = "Project 2"
sim

In [2]:
p1.parameters_dataframe()

            key                       value
0          type                     Project
1          name                   Project 1
2   description  Description of the project
3     time_step                         600
4  n_time_steps                       52560
5  initial_time         01/01/2001 00:00:00

In [3]:
p1.variables_dataframe()

                    dates
0     2001-01-01 00:00:00
1     2001-01-01 00:10:00
2     2001-01-01 00:20:00
3     2001-01-01 00:30:00
4     2001-01-01 00:40:00
...                   ...
52555 2001-12-31 23:10:00
52556 2001-12-31 23:20:00
52557 2001-12-31 23:30:00
52558 2001-12-31 23:40:00
52559 2001-12-31 23:50:00

[52560 rows x 1 columns]