## Calculator component Test

In [7]:
import OpenSimula as osm

case_dict = {
    "name": "Calculator Test",
    "time_step": 3600,
    "n_time_steps": 8760,
    "initial_time": "01/01/2001 00:00:00",
    "components": [
        {
            "type": "File_met",
            "name": "Denver",
            "file_type": "TMY3",
            "file_name": "WD100.tmy3"
        },{
            "type": "Calculator",
            "name": "Cambiar unidad",
            "input_variables": ["T = Denver.temperature", "w = Denver.abs_humidity"],
            "output_variables": ["T_F","W_kg"],
            "output_units": ["ºF","kg/kg a.s."],
            "output_expressions": ["T * 9/5 + 32", "w / 1000"],
        }
    ]
}


sim = osm.Simulation()
pro = sim.new_project("pro")
pro.read_dict(case_dict)

Reading project data from dictonary
Reading completed.
Checking project: Calculator Test
ok

In [8]:
pro

In [9]:
pro.component("Cambiar unidad")

In [10]:
pro.simulate()

Simulating Calculator Test: 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%  End

In [11]:
pro.component("Cambiar unidad").variable_dataframe()

                    date     T         w   T_F      W_kg
0    2001-01-01 00:30:00 -18.0  0.790008 -0.40  0.000790
1    2001-01-01 01:30:00 -16.6  0.882094  2.12  0.000882
2    2001-01-01 02:30:00 -15.3  1.020834  4.46  0.001021
3    2001-01-01 03:30:00 -14.4  1.178902  6.08  0.001179
4    2001-01-01 04:30:00 -13.0  1.275778  8.60  0.001276
...                  ...   ...       ...   ...       ...
8755 2001-12-31 19:30:00 -13.3  1.229550  8.06  0.001230
8756 2001-12-31 20:30:00 -15.0  1.039581  5.00  0.001040
8757 2001-12-31 21:30:00 -16.1  0.939799  3.02  0.000940
8758 2001-12-31 22:30:00 -18.3  0.764225 -0.94  0.000764
8759 2001-12-31 23:30:00 -19.4  0.647708 -2.92  0.000648

[8760 rows x 5 columns]